
<header>
    <div class="container">
        <nav class="main-nav">
            <div class="logo">
                <a href="index.html">
                    <img src="images/header/logo.webp" alt="WPT Global VN" style="height:40px;">
                </a>
            </div>
            <div class="header-social-mobile">
                                <a href="https://t.me/sp_wptglobalvn" target="_blank" aria-label="Support WPT Global VN">                    <img src="images/telegram-icon.svg" alt="Telegram" style="height:28px;">                </a>
                <a href="https://www.facebook.com/PokerMemeVN" target="_blank" aria-label="Poker Meme">
                    <img src="images/logo-facebook.png" alt="Facebook" style="height:28px;">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="index.html" class="active">Trang Chủ</a></li>
                <li><a href="gioi-thieu.html">Giới Thiệu</a></li>
                <li><a href="huong-dan.html">Hướng Dẫn</a></li>
                <li><a href="khuyen-mai.html">Khuyến Mại</i></a></li>
                <li><a href="lien-he.html">Liên Hệ</a></li>
            </ul>
        </nav>
    </div>
</header> 
